* {
    font-family: sans-serif;
}

body {
    background-color: black;
}
.header {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.title {
    text-align: center;
    margin: 10px;
    font-size: 28px;
}

#score {
    text-align: center;
    margin: 10px;
    font-size: 28px;
}

.gameView { 
    background-color: white;
    display: flex;
    flex: 1;
    border-radius: 25px;
    margin-top: 15px;
    justify-content: center;
}

.gameView button { 
    font-size: 28px;
    flex: 1;
    padding: 25px;
    border-style: solid;
    border-color: gray;
    border-radius: 25px;
    margin: 15px;
    border-width: 5px;
}
.roundWinner { 
    display: flex;
    margin-top: 10px;
}
.roundWinner div {
    flex: 1;
    margin: 15px;
    text-align: center;
    font-size: 28px;
    border-radius: 25px;
    padding: 10px;
}

#playerWin {
    background-color: darkgreen;
}
#computerWin { 
    background-color: darkred;
}